:root {
  --card-color: rgba(251, 251, 251, 1);
  --background-color: #e5e5e5;
  --main-color: rgba(106, 28, 195, 1);
  --second-color: rgba(136, 73, 207, 1);
  --white-text: rgba(251, 251, 251, 1);
  --gray-text: rgba(0, 0, 0, 0.6);
}

html {
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

main {
  background-color: var(--card-color);
  padding: 1rem;
  position: relative;
}

p {
  margin: 0;
}

.main-wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  background-color: var(--main-color);
  color: var(--white-text);
}

header {
  background-color: var(--main-color);
  color: var(--white-text);
  _width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  margin: 2.5rem 2rem 1rem 2rem;
  gap: 1rem;
}

header p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--white-text);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

header svg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-text);
  width: 2.5rem;
}

.arrow-wrapper {
  margin: 0;
  position: absolute;
  min-width: 100%;
  top: 0;
  left: 0;
}
.svg-arrow {
  background-color: transparent;
}

#main-arrow {
  fill: var(--main-color);
}

#second-arrow {
  fill: var(--second-color);
}

article {
}

.card-wrapper {
}

#students {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem 1rem 2rem 1rem;
  padding-top: 2rem;
  gap: 1rem;
}

#students h1 {
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--main-color);
}

#students p {
  grid-column-start: 1;
  grid-column-end: -1;
  font-size: 14px;
  color: var(--gray-text);
  font-weight: 600;
}

#search-form {
  grid-column-start: 1;
  grid-column-end: -1;
  position: relative;
}

#search-form-input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--main-color);
  border-radius: 0.2rem;
  color: rgba(75, 20, 138, 0.38);
}

#search-form-input::placeholder {
  color: rgba(75, 20, 138, 0.38);
  font-size: 16px;
  font-weight: 600;
}

#search-form-input:focus {
  outline: 0px solid var(--main-color);
  border-radius: 0.2rem;
}

.bi-search {
  position: absolute;
  top: 0.6rem;
  right: 1.5rem;
  color: var(--main-color);
}

#class-selector {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 0.5rem;
  border: 2px solid var(--main-color);
  border-radius: 0.2rem;
  font-size: 14px;
  font-weight: 600;
  color: var(--main-color);
}

#class-selector:focus {
  outline: 0px solid var(--main-color);
}

#fulltime {
  padding: 0.5rem;
  border: 2px solid var(--main-color);
  border-radius: 0.2rem;
  font-size: 14px;
  font-weight: 600;
  color: var(--main-color);
}

#fulltime:focus {
  outline: 0px solid var(--main-color);
}

#november-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0rem;
  margin-bottom: 3rem;
}

#november-class h2 {
  margin: 0rem 1rem 1rem 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-text);
}
.student-card {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border: 2px solid var(--main-color);
  border-radius: 0.2rem;
  box-shadow: 5px 5px 0px -2px var(--main-color);
  gap: 1.5rem;
  margin: 0rem 1rem 0.5rem 1rem;
}

.student-icon {
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.2rem;
}

.student-icon svg {
  color: white;
}

.bi-person {
  width: 20px;
  aspect-ratio: 1;
}

.name-git {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 16px;
  color: var(--main-color);
  font-weight: 600;
}

.github-link {
  font-size: 12px;
  font-weight: 400;
  color: var(--main-color);
  text-decoration: underline;
}
