:root {
  --background: rgb(33, 158, 188);
  --main-color: rgb(2, 48, 71);
  --second-color: rgb(142, 202, 230);
  --text-color: snow;
}

html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: var(--background);
  max-width: 60ch;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: var(--text-color);
  background-color: var(--main-color);
  text-align: center;
  padding: 0.2rem 0rem;
  border-radius: 0.2rem;
  margin-top: 1rem;
}

.nav-bar {
  _background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  max-width: 60ch;
}

.link-bar {
  display: grid;
  _flex-direction: column;
  _justify-content: center;
  _align-content: center;
  gap: 0.5rem;
  margin: 0rem;
  list-style: none;
  padding-inline-start: unset;
  width: 80%;
}

.link-bar > li {
  background-color: var(--main-color);
  padding: 0.4rem;
  border-radius: 0.2rem;
  transition: transform 0.4s;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:visited {
  color: var(--text-color);
}

li:hover {
  background-color: hotpink;
  transform: scale(105%);
}
