html {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  width: 700px;
  height: 700px;

  background-color: lightgray;
  border: 7px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.white-square {
  width: 90%;
  height: 90%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow-triangle {
  width: 70%;
  height: 70%;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 0, 0.6) 40%,
    rgba(255, 255, 255, 0) 40%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  _background-color: hotpink;
}

.black-lines {
  width: 85%;
  height: 85%;
  _background-color: hotpink;
  _background-image: repeating-linear-gradient(
    transparent,
    transparent 20px,
    black 20px,
    black 40px
  );
  background-image: repeating-linear-gradient(
    black,
    black 1rem,
    transparent 1rem,
    transparent 2rem
  );
}
